<h1>Editing quote</h1>

<% form_for(@quote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
    <p>
    <%= f.label :check %><br />
    <%= f.text_field :check %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quote %> |
<%= link_to 'Back', quotes_path %>